.forgot-password {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .forgot-password .div {
    background-color: #ffffff;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .forgot-password .rectangle {
    position: absolute;
    width: 622px;
    height: 681px;
    top: 282px;
    left: 798px;
    object-fit: cover;
  }
  
  .forgot-password .don-t-worry-we-ll {
    position: absolute;
    top: 91px;
    left: 923px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #333333;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .forgot-password .frame {
    align-items: center;
    gap: 40px;
    position: absolute;
    top: 380px;
    left: 207px;
    display: inline-flex;
    flex-direction: column;
  }
  
  .forgot-password .frame-2 {
    align-items: flex-start;
    gap: 40px;
    position: relative;
    flex: 0 0 auto;
    display: inline-flex;
    flex-direction: column;
  }
  
  .forgot-password .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .forgot-password .text-input-wrapper {
    align-items: flex-start;
    gap: 20px;
    position: relative;
    flex: 0 0 auto;
    display: inline-flex;
    flex-direction: column;
  }
  
  .forgot-password .text-input {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .forgot-password .username {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .forgot-password .group {
    position: relative;
    width: 452px;
    height: 50px;
    margin-right: -2px;
  }
  
  .forgot-password .overlap-group {
    position: relative;
    width: 450px;
    height: 50px;
    background-color: #f2f2f2;
    border-radius: 16px;
  }
  
  .forgot-password .bagilink-id-username {
    position: absolute;
    top: 16px;
    left: 16px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #adadad;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .forgot-password .button {
    display: flex;
    width: 450px;
    height: 50px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 14px 201px;
    position: relative;
    background-color: #ffae6d;
    border-radius: 16px;
    all: unset;
    box-sizing: border-box;
  }
  
  .forgot-password .sign-in {
    position: relative;
    width: fit-content;
    margin-top: -0.5px;
    margin-left: -32px;
    margin-right: -32px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .forgot-password .text-wrapper-2 {
    position: relative;
    width: fit-content;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #ff8a2d;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: underline;
  }
  
 .img {
    float right;

  }